body {
  background-color: #0000ff0a;
}

.header {
  margin: 30px;
}

.app-title {
  font-size: 30px;
  font-weight: bold;
}

.page-content {
  overflow-x: auto;
  overflow-y: scroll;
}

.table-title {
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
}

.table-container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
}

table {
  display: block;
  max-height: 450px;
  overflow-y: scroll;
}

tbody{
  overflow:auto;
  height:500px;
}

th, td {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

th {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"] {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.signup-container {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
}

.signup-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.input-label {
  font-weight: bold;
}
